.mainContainer {
    width: 80%;
    border-radius: 20px;
    padding: 1em;
    box-sizing: border-box;
    color: white;
    background-color: var(--indigo-dye);
    background-color: var(--rich-black-fogra-29-2);
}

.heading {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.title {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 4em;
}

.title h2 {
    font-size: 2em;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
}

.userLogo {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aqua;
    box-sizing: border-box;
    background-color: aqua;
}

.userLogo p {
    filter: invert();
    font-size: 1.3rem;
    font-weight: bold;
}

.description {
    height: 80px;
    text-overflow: ellipsis;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.option {
    width: 100%;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1em;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(255,255,255,0.1);
}

.selectedOption {
    background-color: rgba(255,255,255,0.5);
}

.option:hover {
    background-color: rgba(255,255,255,0.2);
}

.option:active {
    background-color: rgba(255,255,255,0.3);
}

.tags {
    margin: 5px 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;

}

.tags p {
    background-color: rgba(255,255,255,0.3);
    border-radius: 10px;
    padding: 3px 10px
}

.statistic {
    color: rgba(255,255,255,0.6);
    font-size: 00.75rem;
}