.mainContainer {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    padding: 10vh 5rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: var(--rich-black-fogra-29-2);
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color:white;
    align-items: center;
    height: 100%;
}

.phone {
    transform: scale(0.9);
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone img {
    box-shadow: 0 0 40px -10px white;
    border-radius: 40px;
}

.pageContent {
    width: 40%;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.spacer {
    margin: 3rem 0;
}

.pageContent h1 {
    margin: 0.3rem 0
}