.mainContainer {
    position: fixed;
    width: 100%;
    height: 4em;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: var(--oxford-blue);
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    padding: 0 0 0 3em;
}

.logo img {
    height: 3em;
}

.logo p {
    font-size: 2rem;
    font-weight: bold;
    color: white
}

.navItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.userOptions {
    padding: 0 3em 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
}



.navItem {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 20;
}

.navItem:hover {
    filter: invert(35%) sepia(40%) saturate(3498%) hue-rotate(169deg) brightness(107%) contrast(103%);
}

/* .navItem::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: aqua;
} */


.navItem img {
    width: 2em;
    height: 2em;
}

.navItem p {
    font-size: 0.75rem;
    text-transform: uppercase;
    line-height: 1.25rem;
    font-weight: 600;
    color:white
}