.mainContainer {
    width: 100%;
    min-height: 100vh;
    padding: 10vh 5rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: 2em;
    justify-content: center;
    background-color: var(--rich-black-fogra-29-2);
}

.mainContainer > * {
    background-color: var(--oxford-blue);
}

.noPolls {
    background-color: var(--oxford-blue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    border-radius: 20px;
}