.mainContainer {
    width: 100%;
    min-height: 100vh;
    padding-top: 10vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    justify-content: center;
    background-color: var(--rich-black-fogra-29);
}

.noPolls {
    background-color: var(--rich-black-fogra-29-2);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    border-radius: 20px;
}